@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    background-image: linear-gradient(to right, rgb(187, 20, 220), rgb(220, 20, 113));
    margin: 0;
}

.div1 {
    width: 294px;
    height: 234px;
}

.div2 {
    width: 294px;
    height: 234px;
}

.div3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.p2 {
    padding-left: 20px;
    padding-right: 20px;
}

.p1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

h3 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

a.strokeme {
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(230, 174, 206);
}

.strokeme {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

ul li {
    list-style: none;
}

.menu-itens {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

menu a {
    text-decoration: none;
    color: black;
}

a.b {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

a.d {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.meio-contato {
    width: 80%;
    margin: auto;
}

#socialmedia{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: rgb(255, 192, 231);
}

hr {
    color: rgb(238, 13, 13);
}

.logo {
    width: 100px;
    height: 100px;
}

#googleMaps {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.carrinho {
    width: 29px;
    height: 23px;
}
.ajuste {
    margin-bottom: 60px;
}
#carrinho {
    background-color: red;
}

.divmeio {
    width: 22%;
    height: 22%;
}

#lojafisica {
    width: 400px;
    height: 400px;
}